.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .node text { font: 12px sans-serif; }
  
  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }






  header {
    text-align: center;
    background: #06575d;
    color: white;
  
    }
  
  header .container {
  
      font-family:Microsoft Sans Serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  hr.star-light {
    border-color: white;
  }
  hr.star-light:after {
    background-color: #18BC9C;
    color: white;
  }
  
  body{
  background-color:white;
  margin:0px;
  }